body{
  margin: 0;
}
#loading-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10vh;
  position: fixed;
  background-color: aliceblue;
  z-index: 1;
}
.app-loading {
  width: 88px;
  height: 88px;
  animation: app-loading-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}
.loading-title{
  font-size: 1.5em;
}

.app-loading > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.app-loading div:nth-of-type(1) {
  transform: translateZ(-44px) rotateY(180deg);
}

.app-loading div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.app-loading div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.app-loading div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.app-loading div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.app-loading div:nth-of-type(6) {
  transform: translateZ(44px);
}

@keyframes app-loading-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}